@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100vh;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item1 {
    background-color: black;
    color: white;
    grid-row: 1/2;
    padding: 10px 0 0 10px;
}
.item1 > h3 {
    font-size: 40px;
    line-height: 90%;
}

.item2 {
    background-color: purple;
    grid-row: 1/2;
}
.item3,
.item4 {
    grid-row: 1/ -1;
}
.item3 p,
.item4 p {
    font-size: 16px;
    padding: 15px;
}
.item3 h4,
.item4 h4 {
    font-size: 24px;
    padding-left: 15px;
    margin-bottom: 2px;
}

.item5 {
    background-color: red;
    grid-row: 2/4;
}

.item5 h3 {
    padding: 15px 0 0 15px;
    font-size: 30px;
}

.item7 {
    background-color: yellow;
    grid-row: 3/4;
}

.item7 h3 {
    padding: 15px 0 0 15px;
    font-size: 30px;
}
